<h2>Trip Details <small><%= @trip %></small></h2>
<script>var TRIP = (<%= @trip.to_json %>).trip;</script>

<div class="row" id="trip-quick-details">
  <div class="col-xs-12">
    <table class="table">
      <tr>
        <th><i class="glyphicon glyphicon-user"></i></th>
        <th>Arrival</th>
        <th>Location / Flight</th>
        <th>Departure</th>
        <th>Location / Flight</th>
      </tr>

      <tr>
        <td><%= @trip.pax %></td>
        <td><%= l @trip.arrival.try(:to_datetime) %></td>
        <td><%= @trip.arrival_flight %></td>
        <td><%= l @trip.departure.try(:to_datetime) %></td>
        <td><%= @trip.departure_flight %></td>
      </tr>
    </table>
  </div>
</div>
