<% form_for([@client, @trip]) do |f| %>
  <%= f.error_messages %>

  <p><%=f.label :client %>: <%= link_to @client.family_name, @client %></p>

  <p>
    <%= f.label :status %>:
    <%= f.select :status, Trip.statuses.
          map { |s| [ tr_f(s), s ] }
    %>
  </p>
  <p>
    <%= f.label :arrival %><br />
    <%= f.datetime_select :arrival %>
  </p>
  <p>
    <%= f.label :departure %><br />
    <%= f.datetime_select :departure %>
  </p>
  <p>
    <%= f.label :total_people %><br />
    <%= f.text_field :total_people %>
  </p>
  <p>
    <%= f.label :num_children %><br />
    <%= f.text_field :num_children %>
  </p>
  <p>
    <%= f.label :num_disabled %><br />
    <%= f.text_field :num_disabled %>
  </p>
  <p>
    <%= f.label :payment_pct %>:
    <%= f.select :payment_pct,
          [ 0, 15, 50, 85, 100 ].
          map { |pct| [ "#{pct}%", pct ] },
          { :prompt => true }
    %>
  </p>
  <p>
    <%= f.label :payment_details %><br />
    <%= f.text_area :payment_details, :rows => 4 %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit submit_text %>
  </p>
<% end %>