<% if @client %>
<ol class="breadcrumb">
  <li><%= link_to @client, client_url(@client) %></li>
  <li class="active">Trips</li>
</ol>
<% elsif @controller.action_name != 'index' %>
  <ol class="breadcrumb">
    <li><%= link_to 'Trips', trips_url %></li>
    <li class="active"><%= @controller.action_name.humanize %></li>
  </ol>
<% else %>
  <ol class="breadcrumb">
    <li><%= link_to 'Home', home_url %></li>
    <li class="active">Trips</li>
  </ol>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <h1>
      <%= if @upcoming then t '.upcoming' else t '.title' end %>
      <% if @client %><small><%= @client %></small><% end %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <table class="table table-striped table-condensed">
      <tr>
        <th><%=tr_f :registration_id %></th>
        <% unless @client %>
          <th><%=tr_f :client %></th>
        <% end %>
        <th><%=tr_f :status %></th>
        <th><%=tr_f :arrival %></th>
        <th><%=tr_f :departure %></th>
        <th></th>
      </tr>

      <% @trips.each do |trip| %>
        <tr class="<%= cycle 'even', 'odd' %>">
          <td><%= link_to trip.registration_id, trip_url(trip) %></td>
          <% unless @client %>
            <td><%=h trip.client.family_name %></td>
          <% end %>
          <td><%=h tr_f trip.status %></td>
          <td>
            <% link_to day_calendar_url(date: trip.arrival.to_date) do %>
              <i class="glyphicon glyphicon-calendar hidden-xs hidden-sm"></i>
              <%= l(trip.arrival.to_date) %>
            <% end %>
          </td>
          <td>
            <% link_to day_calendar_url(date: trip.departure.to_date) do %>
              <i class="glyphicon glyphicon-calendar hidden-xs hidden-sm"></i>
              <%= l(trip.departure.to_date) %>
            <% end %>
          </td>
          <td>
            <div class="btn-group">
              <%= link_to t(:edit), edit_trip_url(trip), class: 'btn btn-xs btn-primary' %>
              <%= link_to t(:delete), trip_url(trip), :confirm => t(:confirm),
                          :method => :delete, class: 'btn btn-xs btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>

  </div>
</div>
