<% if @client %>
<ol class="breadcrumb">
  <li><%= link_to @client, client_url(@client) %></li>
  <li class="active">Trips</li>
</ol>
<% elsif @controller.action_name != 'index' %>
  <ol class="breadcrumb">
    <li><%= link_to 'Trips', trips_url %></li>
    <li class="active"><%= @controller.action_name.humanize %></li>
  </ol>
<% else %>
  <ol class="breadcrumb">
    <li><%= link_to 'Home', home_url %></li>
    <li class="active">Trips</li>
  </ol>
<% end %>

<h1>
  <%= if @upcoming then t '.upcoming' else t '.title' end %>
  <% if @client %><small><%= @client %></small><% end %>
</h1>

<table class="table table-striped table-condensed">
  <tr>
    <th>Trip</th>
    <% unless @client %>
      <th>Family</th>
    <% end %>
    <th><%=tr_f :arrival %></th>
    <th><%=tr_f :departure %></th>
    <th>Updated</th>
    <th></th>
  </tr>

  <% @trips.each do |trip| %>
    <tr>
      <td>
        <span title="<%= trip.status.capitalize %>">
          <% if trip.pending? %>
            <i class="glyphicon glyphicon-hourglass"></i>
            <%= link_to trip.to_s, pending_trip_reservations_url(trip) %>
          <% elsif trip.confirmed? %>
            <i class="glyphicon glyphicon-tag"></i>
            <%= link_to trip.to_s, confirmed_trip_reservations_url(trip) %>
          <% else %>
            <i class="glyphicon glyphicon-remove"></i>
            <%= trip.to_s %>
          <% end %>
        </span>
      </td>
      <% unless @client %>
        <td>
          <i class="glyphicon glyphicon-user"></i>
          <%= link_to trip.client, client_url(trip.client) %>
        </td>
      <% end %>
      <td>
        <i class="glyphicon glyphicon-calendar hidden-xs hidden-sm"></i>
        <%= l(trip.arrival.to_date) %>
      </td>
      <td>
        <i class="glyphicon glyphicon-calendar hidden-xs hidden-sm"></i>
        <%= l(trip.departure.to_date) %>
      </td>

      <td><%= l trip.updated_at, format: :short %></td>

      <td>
        <div class="btn-group">
          <% link_to trip_url(trip), :confirm => t(:confirm),
                     :method => :delete, class: 'btn btn-xs btn-link' do %>
            <i class="glyphicon glyphicon-trash"></i>
            Delete
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
</table>



<%= render :partial => 'modal' %>
