<ol class="breadcrumb">
  <li><%= link_to @client, @client %></li>
  <li><%= link_to 'Trips', client_trips_url(@client) %></li>
  <li class="active">New</li>
</ol>

<h2><%= t '.title' %></h2>

<div id="quick-trip"
     data-active="true"
     data-trip="<%= @trip.to_json %>"
     data-action="<%= client_trips_url(@client) %>"></div>
