<div class="row">
  <div class="col-xs-12 text-center">
    <div class="btn-group">

      <% link_to client_trip_reservations_path(@client, @trip), class: 'btn btn-default' do %>
        <i class="glyphicon glyphicon-tags"></i>
        <%= t('.list_res') %>
      <% end %>

      <% link_to edit_client_trip_path(@client, @trip), class: 'btn btn-primary' do %>
        <i class="glyphicon glyphicon-pencil"></i>
        <%= t :edit %>
      <% end %>

    </div>
  </div>
</div>

<h2><%= Trip.human_name + " #{@trip}" %></h2>

<p><b><%= tr_f :client %>:</b>
  <%= link_to @trip.client, @trip.client %>
</p>

<p>
  <b><%= tr_f :status %>:</b>
  <em><%=h tr_f @trip.status %></em>
</p>

<% if @trip.status == 'confirmed' %>
<p>
  <b><%= tr_f :confirmation_date %>:</b>
  <%=h l @trip.confirmation_date if @trip.confirmation_date %>
</p>
<% end %>

<p>
  <b><%= tr_f :arrival %>:</b>
  <%=h l @trip.arrival, :format => :long %>
</p>

<p>
  <b><%= tr_f :arrival_flight %>:</b>
  <%=h @trip.arrival_flight %>
</p>

<p>
  <b>Hotel:</b>

  <%= h @trip.reservations.first %>
</p>

<p>
  <b><%= tr_f :departure %>:</b>
  <%=h l @trip.departure, :format => :long %>
</p>

<p>
  <b><%= tr_f :departure_flight %>:</b>
  <%=h @trip.departure_flight %>
</p>

<p>
  <b><%= tr_f :total_people %>:</b>
  <%=h @trip.total_people %>

  <% if @trip.num_children > 0 or @trip.num_disabled > 0 then %>
  (<%= special = []
       special.push "<b>#{@trip.num_children}</b> #{t '.child'}" if @trip.num_children == 1
       special.push "<b>#{@trip.num_children}</b> #{t '.children'}" if @trip.num_children > 1
       special.push "<b>#{@trip.num_disabled}</b> #{t '.disabled'}" if @trip.num_disabled == 1
       special.push "<b>#{@trip.num_disabled}</b> #{t '.disableds'}" if @trip.num_disabled > 1

       special.to_sentence
  %>)
  <% end %>
</p>

<p>
  <b><%= tr_f :total_rack_price %>:</b>
  <%= h number_to_currency @trip.total_rack_price %>
</p>

<p>
  <b><%= tr_f :total_net_price %>:</b>
  <%= h number_to_currency @trip.total_net_price %>
</p>

<p>
  <b><%= tr_f :payment_pct %></b>
  <%=h number_to_percentage @trip.payment_pct, :precision => 0 %>
</p>

<p>
  <b><%= tr_f :payment_details %>:</b>
  <%=hnl @trip.payment_details %>
</p>

<p>
  <b><%=h re_f :created_at %>:</b>
  <%=h l @client.created_at.to_date %>
</p>

<p>
  <b><%=h re_f :updated_at %>:</b>
  <%=h l @client.updated_at.to_date %>
</p>

<p>
  <b><%= tr_f :notes %>:</b><br/>
  <%=hnl @trip.notes %>
</p>
