<h2><%= Trip.human_name + " #{@trip}" %></h2>

<p><b><%= tr_f :client %>:</b>
  <%= link_to @trip.client, @trip.client %>
</p>

<p>
  <b><%= tr_f :status %>:</b>
  <em><%=h tr_f @trip.status %></em>
</p>

<% if @trip.status == 'confirmed' %>
<p>
  <b><%= tr_f :confirmation_date %>:</b>
  <%=h l @trip.confirmation_date if @trip.confirmation_date %>
</p>
<% end %>

<p>
  <b><%= tr_f :arrival %>:</b>
  <%=h l @trip.arrival, :format => :long %>
</p>

<p>
  <b><%= tr_f :arrival_flight %>:</b>
  <%=h @trip.arrival_flight %>
</p>

<p>
  <b><%= tr_f :departure %>:</b>
  <%=h l @trip.departure, :format => :long %>
</p>

<p>
  <b><%= tr_f :departure_flight %>:</b>
  <%=h @trip.departure_flight %>
</p>

<p>
  <b><%= tr_f :total_people %>:</b>
  <%=h @trip.total_people %>

  <% if @trip.num_children > 0 or @trip.num_disabled > 0 then %>
  (<%= special = []
       special.push "<b>#{@trip.num_children}</b> #{t '.child'}" if @trip.num_children == 1
       special.push "<b>#{@trip.num_children}</b> #{t '.children'}" if @trip.num_children > 1
       special.push "<b>#{@trip.num_disabled}</b> #{t '.disabled'}" if @trip.num_disabled == 1
       special.push "<b>#{@trip.num_disabled}</b> #{t '.disableds'}" if @trip.num_disabled > 1

       special.to_sentence
  %>)
  <% end %>
</p>

<p>
  <b><%= tr_f :total_rack_price %>:</b>
  <%= h number_to_currency @trip.total_rack_price %>
</p>

<p>
  <b><%= tr_f :total_net_price %>:</b>
  <%= h number_to_currency @trip.total_net_price %>
</p>

<p>
  <b><%= tr_f :payment_pct %></b>
  <%=h number_to_percentage @trip.payment_pct, :precision => 0 %>
</p>

<p>
  <b><%= tr_f :payment_details %>:</b>
  <%=hnl @trip.payment_details %>
</p>

<p>
  <b><%= tr_f :notes %>:</b><br/>
  <%=hnl @trip.notes %>
</p>


<%= link_to t(:edit), edit_client_trip_path(@client, @trip) %> |
<%= link_to t('.list_res'), client_trip_reservations_path(@client, @trip) %> |
<%= link_to t('.list_people'), people_path({ :trip_id => @trip.id }) %> |
<%= link_to t('.proposal'),  proposal_trip_path(@trip) if @trip.status == 'pending' %>
<%= link_to t('.confirmation'),  confirmation_trip_path(@trip) if @trip.status == 'confirmed' %>