<% remote_form_for(@person, :update => "person_#{@person.id}") do |f| %>
<%= f.error_messages %>

<table>
  <tr>
    <th style="text-align: left"><%= f.label :full_name %></th>
    <th style="text-align: left"><%= f.label :dob %></th>
  </tr>

  <tr>
    <td><%= f.text_field :full_name %></td>
    <td><%= f.date_select :dob, 
              :prompt     => true,
              :start_year => Time.now.year - 100,
              :end_year   => Time.now.year
        %></td>
  </tr>
</table>

<table>
  <tr>
    <th style="text-align: left"><%= f.label :passport %></th>
    <th style="text-align: left"><%= f.label :country %></th>
  </tr>

  <tr>
    <td style="width: 50%">
      <%= f.text_field :passport %>
    </td>
    <td>
      <%= f.text_field :country, :default =>
            @person.trip.nil? ? nil : @person.trip.client.nationality
      %>
    </td>
  </tr>
</table>

<%= f.submit %>

<% end %>