<p style="cursor: pointer" 
   ondblclick="<%= remote_function(
      :url => edit_person_path(@person),
      :method => :get,
      :update => "person_#{@person.id}"
  )%>">
  <b><%= pe_f :full_name %></b>: <%=h @person.full_name %><br/>
  <b><%= pe_f :dob %></b>: <%=h l @person.dob unless @person.dob.nil? %><br/>

  <b><%= pe_f :passport %></b>:
  <%=h @person.passport %>
  <em>(<%=h @person.country %>)</em>
  
  <br/>

  <small><em><%= t '.edit_instruction' %></em></small>
</p>