
<% if all_entries.empty? %>
  <div class="jumbotron">
    <h1>No Data</h1>
    <p>There are no data available for this time range.</p>
  </div>
<% else %>

  <% @range.each do |day| %>
    <% entries = entries_for_date(day) %>
    <table class="table table-striped">
      <% if @range.count > 1 %>
        <tr>
          <th colspan="4" class="text-center">
            <%= l day, format: :calendar_long %>
          </th>
        </tr>
      <% end %>

      <% if entries.empty? %>
        <tr>
          <td><%= l day, format: :calendar %></td>
          <td colspan="3"><em><%= t 'calendar.empty' %></em></td>
        </tr>
      <% end %>

      <% entries.each do |entry| %>
        <tr>
          <td class="col-xs-3">
            <i class="glyphicon glyphicon-calendar"></i>
            <%= link_to l(day, format: :calendar), day_calendar_url(date: day) %>
          </td>

          <td class="col-xs-3">
            <i class="glyphicon glyphicon-user"></i>
            <%= link_to entry.client.to_s, client_url(entry.client) %>
          </td>

          <td class="col-xs-3">
            <% if entry.is_a? Reservation %>
              <span title="<%= entry.company.kind.humanize %>">
                <% if entry.company.kind == 'hotel' %>
                  <i class="glyphicon glyphicon-bed"></i>
                <% elsif entry.company.kind == 'transport' %>
                  <i class="glyphicon glyphicon-road"></i>
                <% elsif entry.company.kind == 'tour' %>
                  <i class="glyphicon glyphicon-sunglasses"></i>
                <% else %>
                  <i class="glyphicon glyphicon-question-sign"></i>
                <% end %>

                <%= entry.company.name %>
              </span>

              <button class="btn btn-xs btn-link calendar-reservation"
                      title="View Reservation"
                      data-reservation="<%= h entry.to_json %>">
                <i class="glyphicon glyphicon-info-sign"></i>
              </button>

            <% elsif entry.is_a? Trip %>
              
              <span title="<%= entry.status.capitalize %>">
                <% if entry.pending? %>
                  <i class="glyphicon glyphicon-hourglass"></i>
                  <%= link_to entry.to_s, pending_trip_reservations_url(entry) %>
                <% elsif entry.confirmed? %>
                  <i class="glyphicon glyphicon-tag"></i>
                  <%= link_to entry.to_s, confirmed_trip_reservations_url(entry) %>
                <% else %>
                  <i class="glyphicon glyphicon-remove"></i>
                  <%= entry.to_s %>
                <% end %>
              </span>
            <% end %>
          </td>

          <td class="col-xs-3">
            <% if (transfer = entry_arrival_departure(entry, day)) %>
              <% icon = transfer == :arrival ? 'log-in' : 'log-out' %>
              <i class="glyphicon glyphicon-<%= icon %>"></i>
              <%= entry_transfer_string(entry, transfer) %>
            <% end %>
          </td>
        </tr>
      <% end %>

    </table>
  <% end %>
<% end %>
