
<% if all_entries.empty? %>
  <div class="jumbotron">
    <h1>No Data</h1>
    <p>There are no data available for this time range.</p>
  </div>
<% else %>

  <table class="table table-striped">
    <% @range.each do |day| %>
      <% entries = entries_for_date(day) %>

      <% if entries.empty? %>
        <tr>
          <td><%= l day, format: :calendar %></td>
          <td colspan="3"><em><%= t 'calendar.empty' %></em></td>
        </tr>
      <% end %>

      <% entries.each do |entry| %>
        <tr>
          <td>
            <i class="glyphicon glyphicon-calendar"></i>
            <%= link_to l(day, format: :calendar), day_calendar_url(date: day) %>
          </td>

          <td>
            <i class="glyphicon glyphicon-user"></i>
            <%= link_to entry.client.to_s, client_url(entry.client) %>
          </td>

          <td>
            <% if entry.is_a? Reservation %>
              <span title="<%= entry.company.kind.humanize %>">
                <% if entry.company.kind == 'hotel' %>
                  <i class="glyphicon glyphicon-bed"></i>
                <% elsif entry.company.kind == 'transport' %>
                  <i class="glyphicon glyphicon-road"></i>
                <% elsif entry.company.kind == 'tour' %>
                  <i class="glyphicon glyphicon-sunglasses"></i>
                <% else %>
                  <i class="glyphicon glyphicon-question-sign"></i>
                <% end %>

                <!-- TODO open reservation details in modal -->
                <%= link_to entry.company.name, trip_url(entry.trip) %>
              </span>

            <% elsif entry.is_a? Trip %>
              
              <span title="<%= entry.status.capitalize %>">
                <% if entry.pending? %>
                  <i class="glyphicon glyphicon-hourglass"></i>
                  <%= link_to entry.to_s, pending_trip_reservations_url(entry) %>
                <% elsif entry.confirmed? %>
                  <i class="glyphicon glyphicon-tag"></i>
                  <%= link_to entry.to_s, confirmed_trip_reservations_url(entry) %>
                <% else %>
                  <i class="glyphicon glyphicon-remove"></i>
                  <%= entry.to_s %>
                <% end %>
              </span>
            <% end %>
          </td>

          <td>
            <%
               transfer =
                   if Trip === entry
                     trip_arrival_departure(entry, day)
                   else
                     res_arrival_departure(entry, day)
                   end
            %>
            <% if transfer %>
              <% icon = transfer == :arrival ? 'log-in' : 'log-out' %>
              <i class="glyphicon glyphicon-<%= icon %>"></i>
              <%= transfer.to_s.humanize %>
            <% end %>
          </td>
        </tr>
      <% end %>

    <% end %>
  </table>
<% end %>
