<ol class="breadcrumb">
  <li><%= link_to 'Home', home_url %></li>
  <li class="active">Calendar</li>
</ol>

<div class="row">
  <div id="calendar-mount"
       data-events="<%= h current_url(format: :json) %>"
       data-date="<%= h @start_at.to_date %>"
       class="col-xs-12 hidden-xs hidden-sm hidden-print"></div>

  <div id="calendar-nav" class="col-xs-12 hidden-md hidden-lg hidden-print">
    <%= render partial: 'nav' %>
  </div>
</div>

<table class="table table-condensed table-striped hidden-lg hidden-md">
  <tr class="row">
    <th>Date</th>
    <th>Family</th>
    <th>Company</th>
    <th>Services</th>
    <th>Details</th>
  </tr>

  <% @reservations.each do |res| %>
    <tr class="row">
      <td class="col-xs-2">
        <%= l res.arrival, format: :short %>
        <% if res.nights > 0 %>
          &ndash;
          <br> <%= l res.departure, format: :short %>
          <br> <small class="text-muted"><%= pluralize res.nights, 'night' %></small>
        <% end %>
      </td>

      <td class="col-xs-2">
        <i class="glyphicon glyphicon-user"></i>
        <%= link_to res.client, client_url(res.client) %>
      </td>

      <td class="col-xs-2">
        <% if res.company.kind == 'hotel' %>
          <i class="glyphicon glyphicon-bed"></i>
        <% elsif res.company.kind == 'transport' %>
          <i class="glyphicon glyphicon-road"></i>
        <% elsif res.company.kind == 'tour' %>
          <i class="glyphicon glyphicon-sunglasses"></i>
        <% else %>
          <i class="glyphicon glyphicon-question-sign"></i>
        <% end %>
        <%= link_to res.company.name, company_url(res.company) %>
      </td>

      <td class="col-xs-3">
        <%= res.services %>
      </td>

      <td class="col-xs-3 small">
        <% if res.pick_up and not res.pick_up.empty? %>
          Pick Up: <%= res.pick_up %> <br>
        <% end %>
        <% if res.drop_off and not res.drop_off.empty? %>
          Drop Off: <%= res.drop_off %> <br>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
