<h1><%= t '.title' %> <%= l @date, format: :calendar_long %></h1>

<p align="center">
  <%= link_to t('calendar.before'), year_calendar_url(date: @date - 1.year) %> |
  <%= link_to t('.today'), year_calendar_url(date: Date.today) %> |
  <%= link_to t('calendar.after'), year_calendar_url(date: @date + 1.year) %>
</p>

<%= render partial: 'entries' %>

<p align="center">
  <%= link_to t('calendar.before'), year_calendar_url(date: @date - 1.year) %> |
  <%= link_to t('.today'), year_calendar_url(date: Date.today) %> |
  <%= link_to t('calendar.after'), year_calendar_url(date: @date + 1.year) %>
</p>
