<% form_for(@client) do |f| %>
  <%= f.error_messages %>

  <div class="row">
    <div class="form-group col-xs-3 col-sm-2">
      <%= f.label :contact_title %>
      <%= f.text_field :contact_title, class: 'form-control' %>
    </div>

    <div class="form-group col-xs-5 col-sm-8">
      <%= f.label :contact_name %>
      <%= f.text_field :contact_name, class: 'form-control' %>
    </div>

    <div class="form-group col-xs-4 col-sm-2">
      <%= f.label :contact_gender %>
      <%= f.select :contact_gender, %w(male female).map { |g| [ t(g), g ] }, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :family_name %>
    <%= f.text_field :family_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :contact_address %><br />
    <%= f.text_area :contact_address, :rows => 3, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :nationality %><br />
    <%= f.text_field :nationality, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :notes %><br />
    <%= f.text_area :notes, class: 'form-control' %>
  </div>
  <div class="btn-group">
    <%= f.submit submit_text, class: 'btn btn-primary' %>
    <input type="reset" value="Reset" class="btn btn-warning">
  </div>
<% end %>
