<div class="row">
  <div class="col-xs-12 text-center">
    <div class="btn-group">
      <% link_to new_client_path, class: 'btn btn-primary' do %>
        <i class="glyphicon glyphicon-plus-sign"></i>
        <%= t('.new') %>
      <% end %>
    </div>
  </div>
</div>

<h1><%= t '.title' %></h1>

<table class="table table-striped table-condensed">
  <tr>
    <th></th>
    <th><%= cl_f :family_name %></th>
    <th><%= cl_f :contact_name %></th>
    <th><%= cl_f :email %></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr class="<%= cycle 'even', 'odd' %>">
    <td><i class="glyphicon glyphicon-user"></i></td>
    <td>
      <%= link_to client.family_name, client %>
    </td>
    <td><%=h client.contact_name %></td>
    <td><%= mail_to client.email %></td>
    <td>
      <%= link_to t(:edit), edit_client_path(client), class: 'btn btn-xs btn-primary' %>
    </td>
  </tr>
<% end %>
</table>

