<ol class="breadcrumb">
  <li><%= link_to 'Clients', clients_url %></li>
  <li class="active"><%= @client %></li>
</ol>

<div class="row">
  <div class="col-xs-12 text-center">
    <div class="btn-group">

      <% link_to client_trips_url(@client), class: 'btn btn-default' do %>
        <i class="glyphicon glyphicon-plane"></i>
        <%= t('.list_trip') %>
      <% end %>

      <% link_to new_client_trip_path(@client), class: 'btn btn-default' do %>
        <i class="glyphicon glyphicon-plus-sign"></i>
        <%= t('.new') %>
      <% end %>

      <% link_to edit_client_path(@client), class: 'btn btn-primary' do %>
        <i class="glyphicon glyphicon-pencil"></i>
        <%= t(:edit) %>
      <% end %>

    </div>
  </div>
</div>

<h1><%=h @client %></h1>

<p>
  <b><%= cl_f :contact_name %>:</b>
  <%=h @client.contact_title %>
  <%=h @client.contact_name %>
</p>

<p>
  <b><%= cl_f :family_name %>:</b>
  <%=h @client.family_name %>
</p>

<p>
  <b><%= cl_f :contact_gender %>:</b>
  <%=h t @client.contact_gender %>
</p>

<p>
  <b><%= cl_f :nationality %>:</b>
  <%=h @client.nationality %>
</p>

<p>
  <b><%= cl_f :email %>:</b>
  <%= mail_to @client.email %>
</p>

<p>
  <b><%= cl_f :phone %>:</b>
  <%=h @client.phone %>
</p>

<p>
  <b><%=h cl_f :created_at %>:</b>
  <%=h l @client.created_at.to_date %>
</p>

<p>
  <b><%=h cl_f :updated_at %>:</b>
  <%=h l @client.updated_at.to_date %>
</p>

<p>
  <b><%= cl_f :notes %>:</b>
  <%=hnl @client.notes %>
</p>

