<h1><%= t :app_title %></h1>

<h3>Recent Changes</h3>

<table class="table table-condensed table-striped">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th class="hidden-xs">E-mail</th>
    <th class="hidden-xs">Dates</th>
  </tr>

  <% @recent.each do |trip| %>
  <tr>
    <td class="col-xs-6 col-sm-3">
      <span title="<%= trip.status.capitalize %>">
        <% if trip.pending? %>
          <i class="glyphicon glyphicon-hourglass"></i>
          <%= link_to trip.to_s, pending_trip_reservations_url(trip) %>
        <% elsif trip.confirmed? %>
          <i class="glyphicon glyphicon-tag"></i>
          <%= link_to trip.to_s, confirmed_trip_reservations_url(trip) %>
        <% else %>
          <i class="glyphicon glyphicon-remove"></i>
          <%= trip.to_s %>
        <% end %>
      </span>
    </td>

    <td class="col-xs-6 col-sm-3">
      <%= trip.client.to_s %>
    </td>

    <td class="hidden-xs col-sm-3">
      <i class="glyphicon glyphicon-envelope"></i>
      <%= link_to trip.client.email, ['mailto', trip.client.email].join(':') %>
    </td>

    <td class="hidden-xs col-sm-3">
      <%= l trip.arrival.to_date, format: :short %> &ndash;
      <%= l trip.departure.to_date, format: :short %>
    </td>
  </tr>
  <% end %>
</table>
