<h1>Search for a Client</h1>

<p>You can search by family name, contact name, or email address.</p>

<form class="form form-horizontal"
      id="workflow_client"
      action="<%=h workflow_client_url %>">
  <div class="form-group">
    <label class="col-sm-2 hidden-xs control-label" for="q">
      Search
    </label>

    <div class="col-xs-8">
      <input type="text" class="form-control" name="q" id="q"
             autofocus="on" autocomplete="off"
             value="<%= h @search %>"
             data-search-url="<%=h search_clients_url %>"
             placeholder="Family, Contact, or E-mail">
    </div>

    <div class="col-xs-4 col-sm-2">
      <button class="btn btn-block btn-primary">
        <i class="glyphicon glyphicon-search"></i>
        <span class="hidden-xs">Search</span>
      </button>
    </div>
  </div>
</form>

<table class="table table-condensed table-striped" id="client-results">
  <tr>
    <th><%= cl_f :contact_name %></th>
    <th><%= cl_f :family_name %></th>
    <th><%= cl_f :email %></th>
    <th></th>
  </tr>

  <% if defined? @results %>
    <% @results.each do |client| %>
      <tr>
        <td><%= client.contact_name %></td>
        <td><%= client.family_name %></td>
        <td><%= client.email %></td>
        <td>
          <% link_to workflow_trip_url(client), class: 'btn btn-default btn-xs' do %>
            <i class="glyphicon glyphicon-arrow-right"></i>
            <span class="hidden-xs">Next</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
