<% active_search = ! @search.empty? %>
<ul class="nav nav-tabs">
  <li class="<%= 'active' unless active_search %>"><a href="#recent" data-toggle="tab">Recent</a></li>
  <li class="<%= 'active' if active_search %>"><a href="#search" data-toggle="tab">Search</a></li>
  <li><a href="#add" data-toggle="tab">New</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane <%= 'active' unless active_search %>" id="recent">
    <%= render partial: 'clients/recent' %>
  </div>

  <div class="tab-pane <%= 'active' if active_search %>" id="search">
    <%= render partial: 'clients/search' %>
  </div>

  <div class="tab-pane" id="add">

    <h1>Add a New Client</h1>

    <p>Create a new client by entering the name and email address.</p>

    <% form_for(@client, html: {class: 'form'}) do |f| %>
      <div class="form-group">
        <%= f.label :family_name %>
        <%= f.text_field :family_name, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.input_field :email, type: :email, class: 'form-control', required: true %>
      </div>

      <div class="form-group text-right">
        <button class="btn btn-primary" type="submit">
          <i class="glyphicon glyphicon-plus-sign"></i>
          New
        </button>
      </div>
    <% end %>

  </div>

</div>
