<% form_for(@company) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :kind %><br />
    <%= f.select :kind, Company.kinds.
          map { |k| [ co_f(k), k ] } %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_area :address, :rows => 3 %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :region %><br />
    <%= f.select :region_id, Region.ordered.
          map { |r| [ r.to_s, r.id ] } %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit submit_text %>
  </p>
<% end %>