<%= javascript_include_tag 'tabs' %>
<% form_for(@company, html: {class: 'form'}) do |f| %>
  <%= f.error_messages %>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#general" data-toggle="tab"><%= t '.general_tab' %></a></li>
    <li><a href="#location" data-toggle="tab">Location</a></li>
    <li><a href="#contact" data-toggle="tab"><%= t '.contact_tab' %></a></li>
    <li><a href="#bank" data-toggle="tab"><%= t '.bank_tab' %></a></li>
  </ul>

<div class="tab-content">
  <div class="tab-pane active" id="general">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :package %>
      <%= f.text_field :package, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :kind %>
      <%= f.select :kind, Company.kinds.
            map { |k| [ co_f(k), k ] }, {},
                   class: 'form-control',
                   onchange: '$("#hotel-options")[this.value=="hotel"?"show":"hide"]()'
      %>
    </div>

    <div id="hotel-options" style="<%= 'display:none' unless @company.kind == 'hotel' %>">
      <div class="form-group">
        <%= f.label :package_length %>
        <%= f.text_field :package_length, class: 'form-control' %>
      </div>

      <div class="checkbox">
        <label>
          <%= f.check_box :all_inclusive %>
          <%= co_f :all_inclusive %>
        </label>
      </div>

      <div class="checkbox">
        <label>
          <%= f.check_box :includes_transport %>
          <%= co_f :includes_transport %><br/>
        </label>
      </div>

      <div class="checkbox">
        <label>
          <%= f.check_box :includes_tour %>
          <%= co_f :includes_tour %><br/>
        </label>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :notes %>
      <%= f.text_area :notes, rows: 3, class: 'form-control' %>
    </div>
  </div> <!-- general -->

  <div id="location" class="tab-pane">
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_area :address, :rows => 3, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :region %>
      <%= f.select :region_id, Region.ordered.
                               map { |r| [ r.to_s, r.id ] }, {}, class: 'form-control' %>
      <% javascript_tag do -%>
        var h = <%= @popup_h = 500 %>;
        var w = <%= @popup_w = 600 %>;
        var l = parseInt((screen.availWidth/2) - (w/2));
        var t = parseInt((screen.availHeight/2) - (h/2));
      <%- end %>
      <p class="help-text text-right">
        <%= link_to t('.edit_regions'), regions_path,
                    :popup => [ 'regions',
                                "height=#{@popup_h},width=#{@popup_w}," +
                                  "screenX='+l+',screenY='+t+'"
                    ]
        %>
      </p>
    </div>
  </div>


  <div id="contact" class="tab-pane">
    <h4><%= t '.contact_general' %></h4>

    <div class="form-group">
      <%= f.label :contact_general_name %>
      <%= f.text_field :contact_general_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :contact_general_phone %>
      <%= f.text_field :contact_general_phone, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :contact_general_mobile %>
      <%= f.text_field :contact_general_mobile, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :contact_general_email %>
      <%= f.text_field :contact_general_email, class: 'form-control' %>
    </div>

    <h4><%= t '.contact_admin' %></h4>
    <div class="form-group">
      <%= f.label :contact_admin_name %><br />
      <%= f.text_field :contact_admin_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :contact_admin_phone %><br />
      <%= f.text_field :contact_admin_phone, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :contact_admin_mobile %><br />
      <%= f.text_field :contact_admin_mobile, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :contact_admin_email %><br />
      <%= f.text_field :contact_admin_email, class: 'form-control' %>
    </div>

    <h4><%= t '.contact_reservation' %></h4>
    <div class="form-group">
      <%= f.label :contact_reservation_name %><br />
      <%= f.text_field :contact_reservation_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :contact_reservation_phone %><br />
      <%= f.text_field :contact_reservation_phone, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :contact_reservation_mobile %><br />
      <%= f.text_field :contact_reservation_mobile, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :contact_reservation_email %><br />
      <%= f.text_field :contact_reservation_email, class: 'form-control' %>
    </div>
  </div> <!-- contact -->

  <div id="bank" class="tab-pane">
    <div class="form-group">
      <%= f.label :bank_govt_id %>
      <%= f.text_field :bank_govt_id, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :bank_govt_id_type %>
      <%= f.select :bank_govt_id_type,
                   Company.govt_id_types.
                       map { |t| [ co_f(t), t ] },
                   { :prompt => true },
                   { :class => 'form-control' }
      %>
    </div>
    <div class="form-group">
      <%= f.label :bank_provider %><br />
      <%= f.text_field :bank_provider, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :bank_beneficiary %><br />
      <%= f.text_field :bank_beneficiary, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :bank_name %><br />
      <%= f.text_field :bank_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :bank_account %><br />
      <%= f.text_field :bank_account, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :bank_client_account %><br />
      <%= f.text_field :bank_client_account, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :bank_aba %><br />
      <%= f.text_field :bank_aba, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :bank_swift %><br />
      <%= f.text_field :bank_swift, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :bank_address %><br />
      <%= f.text_area :bank_address, :rows => 3, class: 'form-control' %>
    </div>
  </div> <!-- bank -->

</div> <!-- tabs -->

<div class="btn-group">
  <%= f.submit submit_text, class: 'btn btn-primary' %>
  <input type="reset" value="Reset" class="btn btn-info">
</div>


<% end %>
