<%= javascript_include_tag 'tabs' %>
<% form_for(@company) do |f| %>
  <%= f.error_messages %>

<div id="tabs">
  <a href="#" class="tab-button" id="tab-button-general"
     style="display:none"><%= t '.general_tab' %></a>
  <a href="#" class="tab-button" id="tab-button-contact"
     style="display:none"><%= t '.contact_tab' %></a>
  <a href="#" class="tab-button" id="tab-button-bank"
     style="display:none"><%= t '.bank_tab' %></a>

  <div id="tab-general" class="tab">
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :kind %><br />
      <%= f.select :kind, Company.kinds.
            map { |k| [ co_f(k), k ] } %>
    </p>
    <p>
      <%= f.label :website %><br />
      <%= f.text_field :website %>
    </p>
    <p>
      <%= f.label :address %><br />
      <%= f.text_area :address, :rows => 3 %>
    </p>
    <p>
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </p>
    <p>
      <%= f.label :region %><br />
      <%= f.select :region_id, Region.ordered.
            map { |r| [ r.to_s, r.id ] } %>
      <% javascript_tag do -%>
        var h = <%= @popup_h = 500 %>;
        var w = <%= @popup_w = 600 %>;
        var l = parseInt((screen.availWidth/2) - (w/2));
        var t = parseInt((screen.availHeight/2) - (h/2));
      <%- end %>
      <%= link_to t('.edit_regions'), regions_path,
            :popup => [ 'regions',
              "height=#{@popup_h},width=#{@popup_w}," +
              "screenX='+l+',screenY='+t+'"
            ]
      %>
    </p>
    <p>
      <%= f.label :notes %><br />
      <%= f.text_area :notes %>
    </p>
  </div> <!-- general -->


  <div id="tab-contact" class="tab">

    <h3><%= t '.contact_general' %></h3>
    <p>
      <%= f.label :contact_general_name %><br />
      <%= f.text_field :contact_general_name %>
    </p>
    <p>
      <%= f.label :contact_general_phone %><br />
      <%= f.text_field :contact_general_phone %>
    </p>
    <p>
      <%= f.label :contact_general_mobile %><br />
      <%= f.text_field :contact_general_mobile %>
    </p>
    <p>
      <%= f.label :contact_general_email %><br />
      <%= f.text_field :contact_general_email %>
    </p>

    <h3><%= t '.contact_admin' %></h3>
    <p>
      <%= f.label :contact_admin_name %><br />
      <%= f.text_field :contact_admin_name %>
    </p>
    <p>
      <%= f.label :contact_admin_phone %><br />
      <%= f.text_field :contact_admin_phone %>
    </p>
    <p>
      <%= f.label :contact_admin_mobile %><br />
      <%= f.text_field :contact_admin_mobile %>
    </p>
    <p>
      <%= f.label :contact_admin_email %><br />
      <%= f.text_field :contact_admin_email %>
    </p>

    <h3><%= t '.contact_reservation' %></h3>
    <p>
      <%= f.label :contact_reservation_name %><br />
      <%= f.text_field :contact_reservation_name %>
    </p>
    <p>
      <%= f.label :contact_reservation_phone %><br />
      <%= f.text_field :contact_reservation_phone %>
    </p>
    <p>
      <%= f.label :contact_reservation_mobile %><br />
      <%= f.text_field :contact_reservation_mobile %>
    </p>
    <p>
      <%= f.label :contact_reservation_email %><br />
      <%= f.text_field :contact_reservation_email %>
    </p>
  </div <!-- contact -->>

  <div id="tab-bank" class="tab">
    <p>
      <%= f.label :bank_beneficiary %><br />
      <%= f.text_field :bank_beneficiary %>
    </p>
    <p>
      <%= f.label :bank_govt_id %><br />
      <%= f.text_field :bank_govt_id %>
      <%= f.select :bank_govt_id_type,
            Company.govt_id_types.
            map { |t| [ co_f(t), t ] },
            { :prompt => true }
      %>
    </p>

    <p>
      <%= f.label :bank_name %><br />
      <%= f.text_field :bank_name %>
    </p>
    <p>
      <%= f.label :bank_account %><br />
      <%= f.text_field :bank_account %>
    </p>
    <p>
      <%= f.label :bank_client_account %><br />
      <%= f.text_field :bank_client_account %>
    </p>
    <p>
      <%= f.label :bank_aba %><br />
      <%= f.text_field :bank_aba %>
    </p>
    <p>
      <%= f.label :bank_swift %><br />
      <%= f.text_field :bank_swift %>
    </p>
    <p>
      <%= f.label :bank_address %><br />
      <%= f.text_area :bank_address, :rows => 3 %>
    </p>
  </div> <!-- bank -->

</div> <!-- tabs -->

<p>
  <%= f.submit submit_text %>
</p>


<% end %>