<h1><%= t '.title' %></h1>

<table class="styled">
  <tr>
    <th><%= co_f :id %></th>
    <th><%= co_f :name %></th>
    <th><%= co_f :kind %></th>
    <th><%= co_f :region %></th>
    <th><%= co_f :package %></th>
  </tr>

<% @companies.each do |company| %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><em>#<%=h company.id %> </em></td>
    <td><%=h company.name %></td>
    <td><%=h co_f company.kind %></td>
    <td><%=h company.region %></td>
    <td><%=h company.package %></td>
    <td><%= link_to t(:show), company %> |
        <%= link_to t(:edit), edit_company_path(company) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new'), new_company_path %>
