<h1><%=h @company %></h1>

<%= javascript_include_tag 'tabs' %>
<div id="tabs">
  <a href="#" class="tab-button" id="tab-button-general"
     style="display:none"><%= t '.general_tab' %></a>
  <a href="#" class="tab-button" id="tab-button-contact"
     style="display:none"><%= t '.contact_tab' %></a>
  <a href="#" class="tab-button" id="tab-button-bank"
     style="display:none"><%= t '.bank_tab' %></a>

  <div id="tab-general" class="tab">
    <p>
      <b><%= co_f :id %>:</b>
      <%=h @company.id %>
    </p>

    <p>
      <b><%= co_f :name %>:</b>
      <%=h @company.name %>
    </p>

    <p>
      <b><%= co_f :website %>:</b>
      <code><%= link_to @company.website, @company.website if @company.website? %></code>
    </p>

    <p>
      <b><%= co_f :kind %>:</b>
      <%=co_f h @company.kind %>
    </p>

    <p id="hotel-options" style="<%=
          'display:none' unless @company.kind == 'hotel' %>">
      <b><%= h co_f :package_length %></b>:
      <%= @company.package_length %>
      <%= h t '.nights' %><br/>

      <b><%= co_f :all_inclusive %></b>:
      <%= check_box_tag nil, nil, @company.all_inclusive,
            :disabled => true, :style => 'vertical-align:top' %><br/>

      <b><%= co_f :includes_transport %></b>:
      <%= check_box_tag nil, nil, @company.includes_transport,
            :disabled => true, :style => 'vertical-align:top' %><br/>

      <b><%= co_f :includes_tour %></b>:
      <%= check_box_tag nil, nil, @company.includes_tour,
            :disabled => true, :style => 'vertical-align:top' %>

    </p>
    <p>
      <b><%= co_f :address %>:</b>
      <%=hnl @company.address %>
    </p>

    <p>
      <b><%= co_f :city %>:</b>
      <%=h @company.city %>
    </p>

    <p>
      <b><%= co_f :region %>:</b>
      <%=h @company.region %>
    </p>

    <p>
      <b><%= co_f :created_at %>:</b>
      <%=h l @company.created_at.to_date %>
    </p>

    <p>
      <b><%= co_f :updated_at %>:</b>
      <%=h l @company.updated_at.to_date %>
    </p>

    <p>
      <b><%= co_f :notes %>:</b>
      <%=hnl @company.notes %>
    </p>
  </div> <!-- general -->

  <div class="tab" id="tab-contact">
  <% ['general','admin','reservation'].each do |kind| %>
    <% name  = @company.send "contact_#{kind}_name"
       phone = @company.send "contact_#{kind}_phone"
       mobile= @company.send "contact_#{kind}_mobile"
       email = @company.send "contact_#{kind}_email"
    -%>
    <h3><%=h t ".contact_#{kind}" %></h3>
    <p>
      <% unless name.blank? -%>
        <%= h name %><br/>
      <% end %>
      <% unless phone.blank? -%>
        <%= h phone  %><br/>
      <% end %>
      <% unless mobile.blank? -%>
        <%= h mobile %> <em>(<%= t '.mobile' %>)</em><br/>
      <% end %>
      <% unless email.blank? -%>
        <%= mail_to email %>
      <% end %>
    </p>
  <% end %>

  </div> <!-- contact -->

  <div class="tab" id="tab-bank">
    <table style="padding:5px; width: 100%">
      <% [:bank_provider,:bank_name,:bank_address,:bank_aba,:bank_swift,
          :bank_account,:bank_beneficiary,:bank_client_account].each do |attr| %>
      <tr>
        <td style="text-align: left"><%= co_f attr %></td>
        <td style="text-align: right"><%= h @company.send attr %></td>
      </tr>
      <% end %>
      <tr>
        <td style="text-align: left"><%= h co_f @company.bank_govt_id_type %></td>
        <td style="text-align: right"><%= h @company.bank_govt_id %></td>
      </tr>
    </table>
  </div> <!-- bank -->

</div> <!-- tabs -->

<%= link_to t(:edit), edit_company_path(@company) %> |
<%= link_to t('.list_comp'), companies_path %> |
<%= link_to t('.show_res'), company_reservations_path(@company) %>
