
<div class="row">
  <div class="col-xs-12 text-center">
    <div class="btn-group">
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <i class="glyphicon glyphicon-plus-sign"></i>
          <%= t '.new' %> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <% link_to new_client_trip_reservation_path(@client, @trip, :kind => :hotel) do %>
              <i class="glyphicon glyphicon-bed"></i>
              <%= co_f(:hotel) %>
            <% end %>
          </li>

          <li>
            <% link_to new_client_trip_reservation_path(@client, @trip, :kind => :hotel) do %>
              <i class="glyphicon glyphicon-road"></i>
              <%= co_f(:transport) %>
            <% end %>
          </li>

          <li>
            <% link_to new_client_trip_reservation_path(@client, @trip, :kind => :hotel) do %>
              <i class="glyphicon glyphicon-sunglasses"></i>
              <%= co_f(:tour) %>
            <% end %>
          </li>
        </ul>
      </div>

      <%= link_to 'Vouchers', vouchers_client_trip_reservations_path(@client, @trip, @reservation), class: 'btn btn-default' %>
      <%= link_to t('.pays'), pays_client_trip_reservations_path(@client, @trip), class: 'btn btn-default' %>

    </div>
  </div>
</div>


<br/>

<% if @reservation %>
  <%= link_to t(:edit), edit_client_trip_reservation_path(@client, @trip, @reservation) %> |
  <%= link_to t('.list_trip'), client_trip_reservations_path(@client, @trip) %> |
  <%= link_to 'Voucher', voucher_client_trip_reservation_path(@client, @trip, @reservation) %> |
  <%= link_to t('.pay'), pay_client_trip_reservation_path(@client, @trip, @reservation) %>
  <br/>
  <%= link_to_unless @reservation.prev_on_trip.nil?, t('.previous'),
        client_trip_reservation_path(@client, @trip, @reservation.prev_on_trip) %> |
  <%= link_to_unless @reservation.next_on_trip.nil?, t('.next'),
        client_trip_reservation_path(@client, @trip, @reservation.next_on_trip) %>
<% end %>
