<% overdue = pay.paid_date < Date.today and not pay.paid %>
<table class="styled grid" style="padding: 5px; width: 500px; margin:auto; <%=
"border: 5px solid red; " if overdue %>">
  <!-- reservation details -->
  <tr>
    <td style="text-align: left"><b><%=h re_f :paid_date %></b></td>
    <td style="text-align: right"><b><%=h l pay.paid_date if pay.paid_date %></b></td>
  </tr>
  <tr>
    <td style="text-align: left"><%=h t '.amount' %> (US$)</td>
    <td style="text-align: right"><%=h number_to_currency pay.net_price %></td>
  </tr>

  <!-- client details -->
  <tr>
    <td style="text-align: left"><%=h t '.reference' %></td>
    <td style="text-align: right">Edventure/<%=h pay.client %></td>
  </tr>

  <!-- company details -->
<% [:bank_provider,:bank_name,:bank_address,:bank_aba,:bank_swift,
    :bank_account,:bank_beneficiary,:bank_client_account].each do |attr| %>
  <tr>
    <td style="text-align: left"><%= co_f attr %></td>
    <td style="text-align: right"><%= h pay.company.send attr %></td>
  </tr>
<% end %>
<% begin %>
  <tr>
    <td style="text-align: left"><%= h co_f pay.company.bank_govt_id_type %></td>
    <td style="text-align: right"><%= h pay.company.bank_govt_id %></td>
  </tr>
<% rescue %>
<% end %>
  <tr>
    <td colspan="2" style="text-align: right">
      <%= link_to t(:edit) + " " + pay.to_s,
            edit_client_trip_reservation_path(pay.trip.client, pay.trip, pay) %>
    </td>
  </tr>
</table>

<br/>
