
<table class="styled grid" style="padding: 5px; width: 500px; margin:auto">
  <!-- reservation details -->
  <tr>
    <td style="text-align: left"><b><%=h re_f :paid_date %></b></td>
    <td style="text-align: right"><b><%=h l pay.paid_date if pay.paid_date %></b></td>
  </tr>
  <tr>
    <td style="text-align: left"><%=h t '.provider' %></td>
    <td style="text-align: right"><%=h pay.company.name %></td>
  </tr>
  <tr>
    <td style="text-align: left"><%=h t '.amount' %> (US$)</td>
    <td style="text-align: right"><%=h number_to_currency pay.net_price %></td>
  </tr>

  <!-- client details -->
  <tr>
    <td style="text-align: left"><%=h t '.reference' %></td>
    <td style="text-align: right">Edventure/<%=h pay.client %></td>
  </tr>

  <!-- company details -->
<% [:bank_name,:bank_address,:bank_aba,:bank_swift,:bank_account,
:bank_beneficiary,:bank_client_account].each do |attr| %>
  <tr>
    <td style="text-align: left"><%= co_f attr %></td>
    <td style="text-align: right"><%= h pay.company.send attr %></td>
  </tr>
<% end %>
  <tr>
    <td style="text-align: left"><%= h co_f pay.company.bank_govt_id_type %></td>
    <td style="text-align: right"><%= h pay.company.bank_govt_id %></td>
  </tr>
</table>

<br/>