<% form_for([@client, @trip, @reservation]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :trip_id %><br />
    <%= f.hidden_field :trip_id %>
    <b><%= @trip %></b><br/>
    <%= h l @trip.arrival.to_date %> &ndash;
    <%= h l @trip.departure.to_date %><br/>
    <%= t '.trip_duration' %>:
    <em><%= @trip.nights %></em>
  </p>

  <p>
    <%= f.label :client %><br />
    <b><%= @client %></b>
  </p>

  <% javascript_tag do -%>
  function getData(region_id) {
    <%= remote_function(
          :url  => companies_path({ :format => :js }),
          :with => "'region_id='+region_id+'&kind=#{@kind}'",
          :method => :get
        )
    %>
  }

  function getCompany(company_id) {
    <%= remote_function(
          :method  => :get,
          :success => 'loadCompany(request)',
          :with    => "'id='+company_id",
          :url     => ajax_company_path
        )
    %>
  }

  function loadData(data) {
    var select = $('company-select');

    // clear
    while (select.length > 0) select.remove(0);

    // add
    if (data.length > 0) {
      select.enable();

      for (var i = 0; i < data.length; i++) {
        select.insert(
          new Element('option', { value: data[i].value }).
            update(data[i].label)
        );
      }
    }

    // no data
    else {
      select.disable();
      alert(<%= t('.empty_region').to_json %>);
    }
  }

  function loadCompany(xhr) {
    var data = eval('(' + xhr.responseText + ')');
    var company = data.company;

    if (company.kind == 'hotel') {
      $('package-length-container').show();
      $('package-length').update(company.package_length);
    }
    else {
      $('package-length-container').hide();
    }
  }
  <% end %>

  <p>
    <%= f.label :region %><br />
    <b><%=select :reservation, :region_id,
            Region.ordered.map { |r| [r, r.id] },
            { :prompt   => t('.select_region') },
            { :id       => 'region-select',
              :name     => '',
              :onchange => 'getData(this.value)'
            }
    %></b>
  </p>

  <p>
    <%= f.label :company %> <%= "(#{co_f @kind})" if @kind %><br />
    <%= f.select :company_id, @companies.
          map { |c| [ c.name, c.id ] },
          { :prompt   => t('.select_region') },
          { :id       => 'company-select',
            :onchange => 'getCompany(this.value)' }
    %>
  </p>
  <p>
    <%= f.label :reservation_id %><br />
    <%= f.text_field :reservation_id %>
  </p>
  <p>
    <%= f.check_box :confirmed %>
    <%= f.label :confirmed %>
  </p>
  <p>
    <%= f.label :confirmation_no %><br />
    <%= f.text_field :confirmation_no %>
  </p>
  <p id="package-length-container"
     style="<%= 'display:none' unless
                  @reservation.company and
                  @reservation.company.hotel?
            %>">
    <%= co_f :package_length %>:
    <em id="package-length"><%= 
      @reservation.company.package_length if @reservation.company
    %></em>
  </p>
  <p>
    <%= f.label :arrival %><br />
    <%= f.date_select :arrival %>
  </p>
  <p>
    <%= f.label :arrival_time %><br />
    <%= f.text_field :arrival_time %>
  </p>
  <p>
    <%= f.label :pickup_location %><br />
    <%= f.text_field :pickup_location %>
  </p>
  <p>
    <%= f.label :departure %><br />
    <%= f.date_select :departure %>
  </p>
  <p>
    <%= f.label :departure_time %><br />
    <%= f.text_field :departure_time %>
  </p>
  <p>
    <%= f.label :dropoff_location %><br />
    <%= f.text_field :dropoff_location %>
  </p>
  <p>
    <%= f.label :net_price %><br />
    <%= f.text_field :net_price, :value =>
          number_with_precision(@reservation.net_price, :precision => 2) %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price, :value =>
          number_with_precision(@reservation.price, :precision => 2) %>
  </p>
  <p>
    <%= f.check_box :paid %>
    <%= f.label :paid %>
  </p>
  <p>
    <%= f.label :paid_date %><br />
    <%= f.date_select :paid_date, :include_blank => true %>
  </p>
  <p>
    <%= f.label :services %><br />
    <%= f.text_area :services, :rows => 3 %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit submit_text %>
  </p>
<% end %>
