<h1><%=t '.title', :for => @client ? @client : @company %></h1>

<% if @trip then %>
<p><%=t '.desc', :link => link_to(@trip, [@trip.client, @trip]) %></p>
<% end %>

<table class="styled">
  <tr>
    <th><%=h re_f :arrival %></th>
    <th><%=h re_f :departure %></th>
<% unless @client %>
    <th><%=h re_f :client %></th>
    <th><%=h re_f :trip_id %></th>
<% else %>
    <th><%=h co_f :city %></th>
    <th><%=h re_f :company %></th>
    <th><%=h re_f :confirmed %></th>
    <th><%=h re_f :paid %></th>
<% end %>
    <th><%=h re_f :services %></th>
  </tr>

<% @reservations.each do |reservation| %>
  <tr class="<%= cycle 'even', 'odd' %>">
    <td>
      <%= if @client then 
            h l reservation.arrival, :format => :short
          else
            h l reservation.arrival, :format => :long
          end %>
    </td>
    <td>
      <%= if @client then
            h l reservation.departure, :format => :short
          else
            h l reservation.departure, :format => :long
          end %>
    </td>
<% unless @client %>
    <td><%=h reservation.client %></td>
    <td><%=h reservation.trip %></td>
<% else %>
    <td><%=h reservation.city %></td>
    <td><%=h reservation.company.name %></td>
    <td><%= in_place_collection_editor_field reservation, :confirmed %></td>
    <td><%= in_place_collection_editor_field reservation, :paid %></td>
<% end %>
    <td><%=hnl reservation.services.nil? ? '' : reservation.services[0,50] + (reservation.services.length > 50 ? '...' : '') %></td>

<% if reservation.client.nil? %>
  <td></td>
<% else %>
    <td><%= link_to t(:show), client_trip_reservation_url(reservation.client, reservation.trip, reservation) %> |
        <%= link_to t(:edit), edit_client_trip_reservation_path(reservation.client, reservation.trip, reservation) %> |
        <%= link_to t(:delete), client_trip_reservation_url(reservation.client, reservation.trip, reservation), :confirm => t(:confirm), :method => :delete %>
    </td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<%= render :partial => 'links' if @client and @trip %>
