<ol class="breadcrumb">
  <li><%= link_to 'Companies', companies_url %></li>
  <li><%= link_to @company.name, company_url(@company) %></li>
  <li class="active">Reservations</li>
</ol>

<h1>
  All Reservations
  <small><%= @company.name %></small>
</h1>

<table class="table table-condensed table-striped">
  <tr>
    <th><%=h re_f :client %></th>
    <th><%=h re_f :trip_id %></th>
    <th><%=h re_f :arrival %></th>
    <th><%=h re_f :departure %></th>
    <th class="hidden-xs hidden-sm"><%=h re_f :services %></th>
  </tr>

<% @reservations.each do |res| %>
  <% next if res.client.nil? or res.trip.nil? %>
  <tr>
    <td class="col-xs-4 col-md-3">
      <i class="glyphicon glyphicon-user"></i>
      <%= link_to res.client.to_s, client_url(res.client) %>
    </td>

    <td class="col-xs-3 col-md-2 force-wrap">
      <% trip = res.trip %>
      <% if trip.pending? %>
        <i class="glyphicon glyphicon-hourglass"></i>
        <%= link_to trip.to_s, pending_trip_reservations_url(trip) %>
      <% elsif trip.confirmed? %>
        <i class="glyphicon glyphicon-tag"></i>
        <%= link_to trip.to_s, confirmed_trip_reservations_url(trip) %>
      <% else %>
        <i class="glyphicon glyphicon-remove"></i>
        <%= trip.to_s %>
      <% end %>
    </td>

    <td class="col-xs-2"><%= l res.arrival.to_date %></td>
    <td class="col-xs-2"><%= l res.departure.to_date %></td>

    <td class="hidden-xs hidden-sm col-md-3">
      <%= h res.services %>
    </td>
  </tr>
<% end %>
</table>
