<ol class="breadcrumb">
  <li><%= link_to @trip.client, client_url(@trip.client) %></li>
  <li><%= link_to @trip, client_trips_url(@trip.client) %></li>
  <li class="active">Pending</li>
</ol>

<%= render partial: 'trips/quick' %>

<h2>Reservations</h2>

<table class="table table-condensed table-striped">
  <tr class="row">
    <th>Pax</th>
    <th>Company</th>
    <th>Services</th>
    <th>Net Price</th>
    <th>Rack Price</th>
    <th>Pick Up</th>
    <th>Drop Off</th>
    <th>Actions</th>
  </tr>

  <% @reservations.each do |res| %>
    <tr class="row">
      <td><%= res.pax %></td>
      <td class="col-xs-3 col-sm-2">
        <% if res.company.kind == 'hotel' %>
          <i class="glyphicon glyphicon-bed"></i>
        <% elsif res.company.kind == 'transport' %>
          <i class="glyphicon glyphicon-road"></i>
        <% elsif res.company.kind == 'tour' %>
          <i class="glyphicon glyphicon-sunglasses"></i>
        <% else %>
          <i class="glyphicon glyphicon-question-sign"></i>
        <% end %>
        <%= res.company.name %>
      </td>
      <td class="col-sm-2"><%= res.services %></td>
      <td class="col-sm-1"><%= res.net_price %></td>
      <td class="col-sm-1"><%= res.price %></td>
      <td><%= res.pickup %></td>
      <td><%= res.dropoff %></td>
      <td>
        <ul class="list-inline">
          <li>
            <button class="btn btn-link btn-xs edit-reservation"
                    id="edit-reservation-<%= res.id %>"
                    data-kind="<%= res.company.kind %>"
                    data-action="<%= url_for(res) %>"
                    data-reservation="<%= h res.to_json %>">
              <i class="glyphicon glyphicon-pencil"></i>
              Edit
            </button>
          </li>

          <li>
            <% link_to reservation_url(res), method: :delete,
                       confirm: 'Really delete this reservation?',
                       class: 'btn btn-link btn-xs' do %>
              <i class="glyphicon glyphicon-trash"></i>
              Delete
            <% end %>
          </li>

          <li>
            <% link_to email_reservation_url(res), class: 'btn btn-link btn-xs' do %>
              <i class="glyphicon glyphicon-envelope"></i>
              Send Confirmation
            <% end %>
          </li>
        </ul>
      </td>
    </tr>
  <% end %>
</table>

<%= render partial: 'reservations/new' %>

<div class="modal fade" id="edit-reservation-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Pending Reservation</h4>
      </div>

      <div class="modal-body">
        <div class="react-mount"></div>
      </div>
    </div>
  </div>
</div>

<% if flash[:params] %>
  <% javascript_tag do %>
    var DEFAULTS = (<%= flash[:params].to_json %>).reservation;
    DEFAULTS.kind = <%= (flash[:kind] or 'hotel').to_json %>;
  <% end %>
<% elsif flash[:kind] %>
  <% javascript_tag do %>
    var KIND = <%= flash[:kind].to_json %>;
  <% end %>
<% end %>

<%= javascript_include_tag companies_url(format: :js) %>
