<ol class="breadcrumb">
  <li><%= link_to @trip.client, client_url(@trip.client) %></li>
  <li><%= link_to @trip, client_trips_url(@trip.client) %></li>
  <li class="active">Pending</li>
</ol>

<div id="pending-data" class="hidden"
     data-trip="<%=h @trip.to_json %>"
     data-arrival="<%= @trip.arrival_date %>"
     data-departure="<%= @trip.departure_date %>"
     data-update-trip-url="<%=h trip_url(@trip) %>"
     data-create-reservation-url="<%= trip_reservations_url(@trip) %>"
     data-paste-reservations-url="<%=h paste_trip_reservations_url(@trip) %>"
     data-pick-ups="<%= h @pick_ups.to_json %>"
     data-drop-offs="<%= h @drop_offs.to_json %>"
></div>

<div class="row">
  <div class="col-xs-12 text-center">
    <div id="pending-buttons"></div>
  </div>
</div>

<%= render partial: 'trips/quick' %>

<div class="row hidden-xs hidden-sm hidden-print">
  <div class="col-xs-12">
    <p class="text-muted">
      <i class="glyphicon glyphicon-calendar"></i>
      Click on the calendar to add or modify reservations.
    </p>
  </div>
  <div class="col-xs-12">
    <div id="pending-calendar"
         data-trip-events="<%= event_trip_url(@trip) %>"
         data-reservation-events="<%= events_trip_reservations_url(@trip) %>"
    ></div>
  </div>
</div>

<table id="pending-table"
       class="table table-condensed table-striped hidden-md hidden-lg">
  <tr class="row">
    <th>Date</th>
    <th>Company</th>
    <th class="hidden-xs hidden-sm">Services</th>
    <th class="hidden-xs hidden-sm">Net</th>
    <th class="hidden-xs hidden-sm">Rack</th>
    <th class="hidden-xs hidden-sm">Pick Up</th>
    <th class="hidden-xs hidden-sm">Drop Off</th>
    <th></th>
  </tr>

  <% @reservations.each do |res| %>
    <tr class="row">

      <td class="col-xs-2">
        <%= l res.arrival, format: :tiny %>

        <% if res.nights > 0 %>
          &ndash; <%= l res.departure, format: :tiny %>
        <% end %>
      </td>

      <td class="col-xs-6 col-md-2">
        <% if res.company.kind == 'hotel' %>
          <i class="glyphicon glyphicon-bed"></i>
        <% elsif res.company.kind == 'transport' %>
          <i class="glyphicon glyphicon-road"></i>
        <% elsif res.company.kind == 'tour' %>
          <i class="glyphicon glyphicon-sunglasses"></i>
        <% else %>
          <i class="glyphicon glyphicon-question-sign"></i>
        <% end %>
        <%= res.company.name %>
      </td>
      <td class="hidden-xs hidden-sm col-md-2"><%= res.services %></td>

      <td class="hidden-xs hidden-sm col-md-1"><%= usd res.net_price %></td>
      <td class="hidden-xs hidden-sm col-md-1"><%= usd res.price %></td>
      <td class="hidden-xs hidden-sm col-md-2"><%= res.pick_up %></td>
      <td class="hidden-xs hidden-sm col-md-2"><%= res.drop_off %></td>

      <td class="col-xs-4 col-md-2">

        <div class="reservation-links"
             data-reservation="<%=h res.to_json %>"
             data-edit-url="<%=h reservation_url(res) %>"
             data-delete-url="<%=h reservation_url(res) %>"
             data-confirm-url="<%=h email_reservation_url(res) %>"
             data-kind="<%=h res.company.kind %>"></div>
      </td>

    </tr>
  <% end %>
</table>

<script src="<%=h companies_url(format: :js) %>"></script>
