<ol class="breadcrumb">
  <li><%= link_to t('activerecord.models.trip.other'), trips_path %></li>
  <li><%= link_to @trip, edit_trip_url(@trip) %></li>
  <li class="active">Pending</li>
</ol>

<%= render partial: 'trips/quick' %>

<h1>Pending Reservations</h1>

<table class="table table-condensed table-striped">
  <tr class="row">
    <th>Pax</th>
    <th>Company</th>
    <th>Services</th>
    <th>Net Price</th>
    <th>Rack Price</th>
    <th>Pick Up</th>
    <th>Drop Off</th>
    <th>Actions</th>
  </tr>

  <% @reservations.each do |res| %>
    <tr class="row">
      <td><%= res.pax %></td>
      <td class="col-xs-3 col-sm-2">
        <% if res.company.kind == 'hotel' %>
          <i class="glyphicon glyphicon-bed"></i>
        <% elsif res.company.kind == 'transport' %>
          <i class="glyphicon glyphicon-road"></i>
        <% elsif res.company.kind == 'tour' %>
          <i class="glyphicon glyphicon-sunglasses"></i>
        <% else %>
          <i class="glyphicon glyphicon-question-sign"></i>
        <% end %>
        <%= res.company.name %>
      </td>
      <td class="col-sm-2"><%= res.services %></td>
      <td class="col-sm-1"><%= res.net_price %></td>
      <td class="col-sm-1"><%= res.price %></td>
      <td><%= res.pickup %></td>
      <td><%= res.dropoff %></td>
      <td>
        <div class="btn-group">
          <button class="btn btn-default btn-xs" id="edit-reservation">
            <i class="glyphicon glyphicon-pencil"></i>
            Edit
          </button>

          <% link_to reservation_url(res), method: :delete,
                     confirm: 'Really delete this reservation?',
                     class: 'btn btn-danger btn-xs' do %>
            <i class="glyphicon glyphicon-trash"></i>
            Delete
          <% end %>
        </div>

        <% link_to email_reservation_url(res), class: 'btn btn-primary btn-xs' do %>
          <i class="glyphicon glyphicon-envelope"></i>
          Send Confirmation
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= render partial: 'reservations/new' %>

<%= javascript_include_tag companies_url(format: :js) %>
