<ol class="breadcrumb">
  <li><%= link_to @trip.client, client_url(@trip.client) %></li>
  <li><%= link_to @trip, client_trips_url(@trip.client) %></li>
  <li class="active">Pending</li>
</ol>

<%= render partial: 'trips/quick' %>

<div class="row">
  <div class="col-xs-12">
    <div id="pending-calendar"
         data-trip="<%=h @trip.to_json %>"
         data-trip-events="<%= event_trip_url(@trip) %>"
         data-reservation-events="<%= events_trip_reservations_url(@trip) %>"
         data-arrival="<%= @trip.arrival_date %>"
         data-departure="<%= @trip.departure_date %>"
         data-create-url="<%= trip_reservations_url(@trip) %>"
    ></div>
  </div>
</div>

<div class="col-xs-12 col-sm-4">
  <%= render partial: 'reservations/new' %>
  <div id="reservation-details"></div>
</div>

<table class="table table-condensed table-striped">
  <tr class="row">
    <th></th>
    <th>Date</th>
    <th>Company</th>
    <th class="hidden-xs hidden-sm">Services</th>
    <th class="hidden-xs hidden-sm">Net</th>
    <th class="hidden-xs hidden-sm">Rack</th>
    <th class="hidden-xs hidden-sm">Pick Up</th>
    <th class="hidden-xs hidden-sm">Drop Off</th>
    <th></th>
  </tr>

  <% @reservations.each do |res| %>
    <tr class="row">

      <td class="col-xs-1">
        <% if res.company.hotel? %>
          <% form_tag move_reservation_url(res) do %>
            <div class="btn-group-vertical btn-group-xs">
              <button type="submit" class="btn btn-link"
                      name="earlier" title="Earlier">
                <i class="glyphicon glyphicon-circle-arrow-up"></i>
              </button>

              <button type="submit" class="btn btn-link"
                      name="later" title="Later">
                <i class="glyphicon glyphicon-circle-arrow-down"></i>
              </button>
            </div>
          <% end %>
        <% end %>
      </td>

      <td class="col-xs-1">
        <%= l res.arrival, format: :tiny %> &ndash;
        <%= l res.departure, format: :tiny %>
      </td>

      <td class="col-xs-6 col-md-2">
        <% if res.company.kind == 'hotel' %>
          <i class="glyphicon glyphicon-bed"></i>
        <% elsif res.company.kind == 'transport' %>
          <i class="glyphicon glyphicon-road"></i>
        <% elsif res.company.kind == 'tour' %>
          <i class="glyphicon glyphicon-sunglasses"></i>
        <% else %>
          <i class="glyphicon glyphicon-question-sign"></i>
        <% end %>
        <%= res.company.name %>
      </td>
      <td class="hidden-xs hidden-sm col-md-2"><%= res.services %></td>

      <td class="hidden-xs hidden-sm col-md-1"><%= usd res.net_price %></td>
      <td class="hidden-xs hidden-sm col-md-1"><%= usd res.price %></td>
      <td class="hidden-xs hidden-sm col-md-2"><%= res.pick_up %></td>
      <td class="hidden-xs hidden-sm col-md-2"><%= res.drop_off %></td>

      <td class="col-xs-4 col-md-2">
        <ul class="list-inline">
          <li>
            <button class="btn btn-link btn-xs edit-reservation"
                    id="edit-reservation-<%= res.id %>"
                    data-kind="<%= res.company.kind %>"
                    data-action="<%= url_for(res) %>"
                    data-reservation="<%= h res.to_json %>">
              <i class="glyphicon glyphicon-pencil"></i>
              Edit
            </button>
          </li>

          <li>
            <% link_to reservation_url(res), method: :delete,
                       confirm: 'Really delete this reservation?',
                       class: 'btn btn-link btn-xs' do %>
              <i class="glyphicon glyphicon-trash"></i>
              Delete
            <% end %>
          </li>

          <li>
            <% link_to email_reservation_url(res), class: 'btn btn-link btn-xs' do %>
              <i class="glyphicon glyphicon-envelope"></i>
              Send Confirmation
            <% end %>
          </li>
        </ul>
      </td>

    </tr>
  <% end %>
</table>

<div class="text-right">
  <button class="btn btn-default" id="paste-reservations">
    <i class="glyphicon glyphicon-paste"></i>
    Paste From Excel
  </button>
</div>

<div class="modal fade" id="edit-reservation-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Pending Reservation</h4>
      </div>

      <div class="modal-body">
        <div class="react-mount"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="paste-reservations-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Paste Reservations</h4>
      </div>

      <div class="modal-body">
        <% form_tag paste_trip_reservations_url(@trip) do %>
          <% unless @reservations.empty? %>
          <div class="form-group">
            <p class="form-control-static">
              <strong>Warning:</strong>
              Pasting will remove <em>all</em> existing reservations
              for this trip.
            </p>
          </div>
          <% end %>

          <div class="form-group">
            <%= label_tag 'reservations[paste]',
                          'Paste Reservations from Excel' %>
            <%= text_area_tag 'reservations[paste]', nil,
                              class: 'form-control', rows: 6 %>
          </div>

          <button type="submit" class="btn btn-primary">
            <i class="glyphicon glyphicon-paste"></i>
            Create Reservations
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>




<% if flash[:params] %>
  <% javascript_tag do %>
    var DEFAULTS = (<%= flash[:params].to_json %>).reservation;
    DEFAULTS.kind = <%= (flash[:kind] or 'hotel').to_json %>;
  <% end %>
<% elsif flash[:kind] %>
  <% javascript_tag do %>
    var KIND = <%= flash[:kind].to_json %>;
  <% end %>
<% end %>

<%= javascript_include_tag companies_url(format: :js) %>
