<html>
<body style="
    font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12pt;
    color: #c00;
">

<p>Buenos días,</p>

<p>Reciba un cordial saludo!</p>

<p>
  Favor realizar la siguiente reservación <br>
  Y CONFIRMARNOS CON EL MONTO TOTAL NETO A PAGAR MEDIANTE PROFORMA:
</p>

<p>
  <b>Lugar</b>: <%= @company.name %> <br>
  <b>Nombre Cliente</b>: Fam. <%= @client.family_name %> <br>
  <b>Nacionalidad</b>: <%= @client.nationality %> <br>
  <b>Número de personas</b>: <%= @reservation.num_people %> pax <br>
</p>

<p><b>Servicio</b>: <%= @reservation.services %></p>

<% if @reservation.nights > 0 %>
  <p>
    <b>Ingreso</b>: <%= l @reservation.arrival, format: :long %> <br>
    <b>Salida</b>: <%= l @reservation.departure, format: :long %> <br>
    <small><%= pluralize @reservation.nights, 'noche' %></small><br>
  </p>
<% end %>

<p><b>*** Nota ***</b></p>

<p>
  Como política de nuestra empresa, una vez realizado el pago
  por la reservación respectiva, exigimos factura por los servicios que
  contratamos, ésta deberá ser confeccionada a nombre de:
</p>

<p>
  <em>Edventure Costa Rica S.A.</em>
</p>

<p>
  Y enviada al apartado postal:
</p>

<p>
  1073-2070<br>
  Costa Rica
</p>

<p>O bien, escaneada mediante esta misma cuenta de email.</p>

<p><b>*** Nota ***</b></p>


<p>De antemano agradecemos su gran apoyo y pronta respuesta.</p>

<p style="font-size: smaller">
  Muchas gracias, <br>
  <br>
  <span style="font-size: x-large; color: #C9CB00; font-family: cursive"><%= @signature %></span><br>
  <%= @from %><br>
  EDVENTURE COSTA RICA S.A.<br>
</p>

<p>---</p>

<p>
  Find Edventure... and live your dream! <br>
  <br>
  http://www.edventure.biz <br>
  office: (506) 2273-0981 <br>
  mobile: (506) 8539-0651 <br>
</p>

</body>
</html>
