<h1>Listing regions</h1>
<p><%= t '.edit_explanation' %></p>

<ul id="region-list">
<% @regions.each do |region| %>
  <%= render :partial => 'show', :locals => { :region => region } %>
<% end %>
</ul>

<br />

<% remote_form_for Region.new,
    :update => { :success => 'region-list' },
    :success => "$('region-form').reset()",
    :html => { :id => 'region-form' },
    :position => :bottom \
  do |f| %>

  <p>
    <%= f.label :name %>:
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :country %>:
    <%= f.select :country, Region.countries %>
  </p>

  <%= f.submit :submit %>
<% end %>