<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <title><%= title %></title>

  <%= stylesheet_link_tag 'bower/bootstrap/dist/css/bootstrap.min' %>
  <%= stylesheet_link_tag 'bower/bootstrap/dist/css/bootstrap-theme.min' %>
  <%= stylesheet_link_tag 'edventure' %>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <div style="position: absolute; right: 5px; top: 5px;">
    <%= link_to_unless_current 'Español', current_url( :lc => :es ) %> |
    <%= link_to_unless_current 'English', current_url( :lc => :en ) %>
  </div>

  <div id="masthead">
    <%= image_tag('title_ed_home.png') %>
  </div>

  <div id="links">
    <%= link_to_unless_current t('.home'), root_path %> |
    <%= link_to_unless_current t('activerecord.models.company', :count => 0), companies_path %> |
    <%= link_to_unless_current t('activerecord.models.client', :count => 0), clients_path %> |
    <%= link_to_unless_current t('calendar.month.today'), month_calendar_path %> |
    <%= link_to_unless_current t('activerecord.models.trip', :count => 0), trips_path %>
   (<%= link_to_unless_current t('.upcoming'), upcoming_trips_path %>)
  </div>

  <div id="content">
    <p id="notice" style="color: green"><%= notice %></p>

    <%= yield %>
  </div>

  <%= javascript_include_tag 'bower/jquery/dist/jquery.min' %>
  <%= javascript_include_tag 'bower/bootstrap/dist/js/bootstrap.min' %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
